.slider-box{
  width: 100vw;
  margin-left: 25px;
}

.slider{
  height: 20vh;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.slide{
  height: 100%;
  padding: 0 2px 0 2px;
  display: flex;
  transition: .5s;
}

.slide:hover{
  cursor: pointer;
}


/* translate X by nDivs * 20 extra + 10 */
.next{
  min-width: 2%;
  max-width: 2%;
  background: rgba(0,0,0,.5);
  color: white;
  height: 20%;
  position: absolute;
  right:0;
  cursor:pointer;
}

/* translate X by nDivs * 20%*/
.prev{
  min-width: 2%;
  max-width: 2%;
  height: 20%;
  background: rgba(0,0,0,.5);
  color: white;
  position: absolute;
  left: 0;
  cursor:pointer;
}


// .slide-row{
//   display:flex;
//   padding: 0 55px;
// }
//
// .slide-row:hover .slide-item {
//    transform: translateX(-25%);
// }
//
// .slide-item{
//   background: green;
//   flex: 0 0 19.7%;
//   text-align: center;
//   margin: 0 2px;
//   transition: transform 300ms ease 100ms;
// }
//
// .slide-item:hover ~ .slide-item {
//    transform: translateX(25%);
// }
//
// .slide-item:hover {
//   transform: scale(1.5) !important;
// }
