$duration = 450ms
$tileWidth = 250px
$tileHeight = ($tileWidth / (16/9))
$iconSize = 50px
$growFactor = 1.5

$moveLeft = -($tileWidth * ($growFactor - 1) / 2)
$moveRight = $tileWidth * ($growFactor - 1)

.dashboard-main{
  width: 100vw;
  height: 100vh;
  background: rgb(0,0,0);
  overflow: hidden;
}

/* Error messages from server  */
.error-response-dash{
  color: white;
  opacity: .5;
  padding-left: 10px;
  padding-bottom: 5px;
  color:#ff3f3f;
  font-size: 1.5em;
  text-align: center;
}


.error-box-dash{
  display: flex;
  flex-direction: column;
  width:400px;
  background: rgba(255,255,255,.1);
  border-radius: 5px;
  font-size: 1.5em;
}


/* movie shelf display */

.slide-row{
  display:flex;
  padding: 0 55px;
}

.slide-row:hover .slide-item {
   transform: translateX(-25%);
}

.slide-item{
  background: green;
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0 2px;
  transition: transform 300ms ease 100ms;
}

.slide-item:hover ~ .slide-item {
   transform: translateX(25%);
}

.slide-item:hover {
  transform: scale(1.5) !important;
}
